body {
  background-color: rgb(224, 224, 224);
}

.ErrorBox {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.PhotoGrid {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  padding: 5%;
}

.PhotoContainer {
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

.PhotoContainer:hover {
  border: black 3px solid;
  cursor: pointer;
  border-radius: 5px;
}

.GridItem {
  max-width: 100%;
  margin: -4px;
}

/*.GridItem:hover {
  margin: 4px;
  border: black 3px solid;
  cursor: pointer;
}*/

.SinglePhotoContainer {
  text-align: center;
  max-width: 100%;
  margin: 0px;
  padding: 15px;
}

.BackButton {
  margin: 10px;
  position: fixed;
}

@media screen and (max-width: 800px) {
  .PhotoGrid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5%;
  }
}
